

 .Nav {
  align-items: center;
  font-family:'helvetica', 'sans-serif';
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #FFFFFF;
  opacity: 5;
}

.Name {
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 2px;

}

.NavLinks {
  display: flex;
  flex-direction: row;
  font-size: small;
  font-weight: bolder;
  cursor: pointer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.Nav {
  align-items: center;
  font-family:'helvetica', 'sans-serif';
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #FFFFFF;
  opacity: 5;
}

.Name {
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 2px;

}

.NavLinks {
  display: flex;
  flex-direction: row;
  font-size: small;
  font-weight: bolder;
  cursor: pointer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.NavLinks:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(-50%);
}
  100% {transform: translateY(0);}
}

.App {
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  background-image: url('./assets/TabBackground.jpeg');
}

.main {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top:5%;
  opacity: 5;
}

.Photo {
  max-width: 400px;
}

.PhotoBackground {
  background-color: white;
  padding-top: 30px;
}

.Transformative {
  font-weight: bolder;
  font-size: x-large;
  padding-bottom: 30px;
}


.Bio {
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  font-family: 'helvetica', 'sans-serif';
  letter-spacing: 2px;
  line-height: 40px;
}

.Projects {
  background-color: #FFFFFF;
  justify-content: space-around;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding: 20px;
}

.ProjectImages {
  height: 300px;
  width: 300px;
  border-style: hidden;
  margin: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
            rgba(0, 0, 0, 0.12) 0px -12px 30px, 
            rgba(0, 0, 0, 0.12) 0px 4px 6px, 
            rgba(0, 0, 0, 0.17) 0px 12px 13px, 
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.ProjectContainers:hover {
  transform: scale(1.1);
}

.ProjectContainers {
  padding: 20px;
}


.Contact {
  border-style: dashed;
  border-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 40px;
  font-family: 'helvetica', 'sans-serif';
}

.ContactForm {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.Resume {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'helvetica', 'sans-serif';
  letter-spacing: 2px;
  line-height: 40px;
  
  margin: 20px auto;
  font-family: 'lato';
  background-image: url('./assets/blackboard.avif');
  border: 3px solid #000000;
}

p {
  font-size: normal;
  font-weight: normal;
  text-transform:uppercase;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li a {
  text-decoration: none;
  color:#000000;
  background-color: #ffc;
  display: block;
  height: 200px;
  width:200px;
  padding: 20px;
  box-shadow: 20px 20px 7px rgba(33,33,33,5);

  transform: rotate(-6deg);
}

ul li {
  margin: 20px;
}

li {
  padding: 20px;
}

 ul li:nth-child(even) a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
}

ul li:nth-child(3n) a {
  transform: rotate(3deg);
  position: relative;
  top: -5px;
}

ul li:nth-child(5n) a {
  transform: rotate(-15deg);
  position:relative;
  top: -10px;
}

.Footer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'helvetica', 'sans-serif';
  letter-spacing: 2px;
  line-height: 40px;
  font-size: larger;
  background-color: #FFFFFF;
  opacity: 1;
}

.ArtCredit {
  font-size: x-small;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ProLogos {
  height: 30px;
  padding: 10px;
}

.ResumeButton:link, .ResumeButton:visited {
  background-color: white;
  color: green;
  font-weight: bolder;
  text-transform: capitalize;
  text-decoration: none;
  font-size: larger;
  border: 4px solid green;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 8px 8px 3px rgba(0,0,0,0.5),
              inset 7px 7px 10px rgba(0,0,0,0.5);
}

.ResumeButton:hover, .ResumeButton:active {
  background-color: green;
  color:#FFFFFF;
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
} 

.ButtonContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 40px;
  margin: 20px;
  border: 10px solid white;
  box-shadow: 2px 2px 5px #000000,
              inset 5px 5px 8px #000000;
}

.ButtonContainer:hover {
  animation: shake 1s;
  animation-iteration-count:initial;
}

@keyframes shake {
  0% {transform: translate(1px, 1px)
  rotate(0deg);}
  10% {transform: translate(-1px, -2px)
    rotate(-1deg);}
  20% {transform: translate(-3px, 0px)
    rotate(1deg);}
  30% {transform: translate(3px, 2px)
    rotate(0deg);}
  40% {transform: translate(1px, -1px)
    rotate(1deg);}
  50% {transform: translate(-1px, 2px)
    rotate(-1deg);}
  60% {transform: translate(-3px, 1px)
    rotate(0deg);}
  70% {transform: translate(3px, 1px)
    rotate(-1deg);}
  80% {transform: translate(-1px, -1px)
    rotate(1deg);}
  90% {transform: translate(1px, 2px)
    rotate(0deg);}
  100% {transform: translate(1px, -2px)
    rotate(-1deg);}
}

.Super {
  font-size: x-large;
}

.SkillsHeader p {
  text-align: center;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  font-size: large;
  padding-bottom: 30px;
}

.SkillsHeader {
  padding-bottom: 30px;
}

.Backend p {
  text-align: center;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}

.Frontend p {
  text-align: center;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  font-size: xx-large;
}

.Character1 {
  text-align: center;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 50px;
}

.Character2 {
  text-align: center;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  font-size:large;
  font-weight: bold;
} 


